
*.a
*.autosave
*build-*
# C++ objects and libs
CMakeLists.txt.user*
compile_commands.json
*creator.user*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/uninews/
dist/
*.dll
.DS_Store
*.dylib
.idea/
.idea/UniNews.iml/
# IDEs
*.jsc
*.la
*.lai
*.lo
local_data/
Makefile*
*.moc
moc_*.cpp
moc_*.h
*.o
object_script.*.Debug
object_script.*.Release
# OS files
*_plugin_import.cpp
*.prl
*.pro.user
.pybuild/
__pycache__/
*.py[cod]
.pytest_cache/
# Python
*.qbs.user
*.qm
/.qmake.cache
/.qmake.stash
*.qmlc
*_qmlcache.qrc
*.qmlls.ini
*.qmlproject.user
qrc_*.cpp
# QtCreator
# QtCreator 4.8< compilation database
# QtCreator CMake
# QtCreator local machine specific files for imported projects
# QtCreator Qml
# Qt-es
# Qt unit tests
# Runtime data
scrapers/__pycache__/
scrapers/__pycache__/__init__.cpython-310.pyc
*.slo
*.so
src/*.egg-info/
target_wrapper.*
Thumbs.db
ui_*.h
ui/__pycache__/
.venv/
# Virtual environments
.vscode/
build/
