ui/__pycache__/
__pycache__/
scrapers/__pycache__/
.idea/UniNews.iml/
local_data/
scrapers/__pycache__/__init__.cpython-310.pyc

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
build/
*.qm
*.prl
*.qmlls.ini

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store


# Bytecode & cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Runtime data
.local_data/

# OS files
.DS_Store
Thumbs.db
